:root {
  --color-bg: #111111;
  --color-bgDark: #000000;
  --color-bgLight: #222222;

  --color-text: #ffffff;
  --font: 'Inria Sans', sans-serif;

  --color-featureLight: #ba0707;
  --color-feature: #a50202;
  --color-featureDark: #740202;
}
